# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Pc\Documents\4_semester_tek\Software_i_cyber_fysiske_systemer\Porteføljeopgave\Del_2\st4-scfs-ref\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
